<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <ul> 
            <% productos.map((item)=>{ %>
              <li>
                 <p>Producto: <%= item.title %></p> 
                 <p>Precio:  <%= item.precio %></p> 
              </li>
            <% }) %>
           </ul>
    </ul>

    <a href="http://localhost:8080" > Cargar Productos </a>
</body>
</html>